################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MioSystem_WebApp/FileContentIndex/ea9d9d12-3568-45e1-b34d-602fe2ae4620.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/7bf800dc-93d1-4145-b605-66cd2e845c2c.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/e19d33f7-11fb-4a6e-901e-4b3fb5c19eb4.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/e466e32b-1de5-4b33-813a-ee5ad283d83b.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/f2ceb4bc-be08-4937-9dc7-b4a049fcf8f2.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/2bb08c55-39b4-4196-9290-0394548ae912.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/d4a5905d-eb38-4b8a-acca-8bcba2334976.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/0b47089c-7d4a-490b-8e9f-e664e8914072.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/d186a5b4-230c-40d1-b728-f3b2f76b1f90.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/f176cca1-fd7a-4769-8974-02e90ac2db0d.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/0d52154f-0c74-4d8c-88bf-675633fdbe41.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/dbd496e9-a270-4b02-8934-72c259410804.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/dca0ee33-97ba-4f07-b0d8-9c612202a761.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/e255e247-aac0-45c4-b441-aba542831c8a.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/29ac5289-34ea-4e1b-ba83-2da7e953cb46.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/51feb690-d403-4fc0-b220-403cb47e9210.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/8e05c10d-32dd-450f-a4ea-70925659d8ad.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/95b56fea-020a-44ca-a7a3-f75b6bce3e10.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/b22b52a7-90da-49b4-8fea-2b9b80758ba5.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/6bd1cfd5-b93e-474c-97a6-1e6e44574524.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/71c26ed0-2207-4ebb-b5b0-8762de52653e.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/8db0a87d-2ae5-465c-b898-c93d18484dc0.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/ec6f704c-6b3b-4b8c-a1e9-404797988300.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/eddfddc1-462f-465e-a419-12d9ce3f92be.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/9511a0ee-ff5e-4e6d-84c6-a31b3c991cfd.vsidx
