################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MioSystem_WebApp/FileContentIndex/ea9d9d12-3568-45e1-b34d-602fe2ae4620.vsidx
