################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MioSystem_WebApp/FileContentIndex/ea9d9d12-3568-45e1-b34d-602fe2ae4620.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/7bf800dc-93d1-4145-b605-66cd2e845c2c.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/e19d33f7-11fb-4a6e-901e-4b3fb5c19eb4.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/e466e32b-1de5-4b33-813a-ee5ad283d83b.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/f2ceb4bc-be08-4937-9dc7-b4a049fcf8f2.vsidx
/.vs/MioSystem_WebApp/FileContentIndex/2bb08c55-39b4-4196-9290-0394548ae912.vsidx
